<div class="container">
  <h1>Prueba CQCIAS</h1>
  <hr>
  
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Ver</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of persons">
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.telefono }}</td>
          <td> 
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ver_datos" (click)="verDatos(persona.id)"> 
              <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.92 9.818 2.09 8.69 1.679 8.068a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z"></path></svg></span> 
            </button> 
          </td>
        </tr>
      </tbody>
    </table>

</div>

<div class="modal fade" id="ver_datos" role="dialog" aria-labelledby="my-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <h2>Datos de {{ nombre}}</h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input name="nombre" class="form-control" value="{{nombre}}">
          </div>
          <div class="form-group">
            <label for="primer_ap">Primer Apellido</label>
            <input name="primer_ap" class="form-control" value="{{primer_ap}}">
          </div>
          <div class="form-group">
            <label for="segundo_ap">Segundo Apellido</label>
            <input name="segundo_ap" class="form-control" value="{{segundo_ap}}">
          </div>
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input name="telefono" class="form-control" value="{{telefono}}">
          </div>
       </form>
      </div>
    </div>
  </div>

</div>